<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/master.css">
    <title>Home Work</title>
</head>

<body>

    <table class="centered bordered highlight">
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Покупка</th>
                <th>Валюта</th>
                <th>Продажа</th>
                <th>Валюта</th>
            </tr>
        </thead>
        <tbody id="js-tbody"></tbody>
    </table>

    <button id="js-btn" class="btn">Получить</button>

    <!-- Шаблон одной строки для tbody -->
    <script type="text/template" id="table-row">
        <tr scope="row">
            <td>
                <%- ccy%>
            </td>
            <td>
                <%- buy%>
            </td>
            <td>
                <%- base_ccy%>
            </td>
            <td>
                <%- sale%>
            </td>
            <td>
                <%- base_ccy%>
            </td>
        </tr>
    </script>
    <script src="js/index.js"></script>
</body>

</html>
